.idea/*
*.json
*.csv
.idea
/musical-analysis/audio_files/sample-clap.wav
/musical-analysis/audio_files/Pusherman.wav
/musical-analysis/thinkdsp/132736__ciccarelli__ocean-waves.wav
/musical-analysis/thinkdsp/170255__dublie__trumpet.wav
/musical-analysis/thinkdsp/180929__docquesting__crowd-noise.wav
/musical-analysis/thinkdsp/180960__kleeb__gunshot.wav
/musical-analysis/thinkdsp/181934__landub__applause2.wav
/musical-analysis/thinkdsp/253887__themusicalnomad__positive-beeps.wav
/musical-analysis/thinkdsp/cacophony.ipynb
/musical-analysis/thinkdsp/18871__zippi1__sound-bell-440hz.wav
/musical-analysis/thinkdsp/28042__bcjordan__voicedownbew.wav
/musical-analysis/thinkdsp/72475__rockwehrmann__glissup02.wav
/musical-analysis/thinkdsp/87778__marcgascon7__vocals.wav
/musical-analysis/thinkdsp/92002__jcveliz__violin-origional.wav
/musical-analysis/thinkdsp/100475__iluppai__saxophone-weep.wav
/musical-analysis/thinkdsp/105977__wcfl10__favorite-station.wav
/musical-analysis/thinkdsp/120994__thirsk__120-oboe.wav
/musical-analysis/thinkdsp/GardnerFractalMusic.pdf
/musical-analysis/thinkdsp/Makefile
/musical-analysis/thinkdsp/saxophone.ipynb
/musical-analysis/thinkdsp/scipy2015_demo.ipynb
/musical-analysis/thinkdsp/stalbans_a_mono.wav
/musical-analysis/thinkdsp/systems.py
/musical-analysis/thinkdsp/tos-redalert.wav
/musical-analysis/thinkdsp/chap01soln.ipynb
/musical-analysis/thinkdsp/chap02.ipynb
/musical-analysis/thinkdsp/chap02soln.ipynb
/musical-analysis/thinkdsp/chap03.ipynb
/musical-analysis/thinkdsp/chap03soln.ipynb
/musical-analysis/thinkdsp/chap04.ipynb
/musical-analysis/thinkdsp/chap04soln.ipynb
/musical-analysis/thinkdsp/chap05.ipynb
/musical-analysis/thinkdsp/chap05soln.ipynb
/musical-analysis/thinkdsp/chap06.ipynb
/musical-analysis/thinkdsp/chap06soln.ipynb
/musical-analysis/thinkdsp/chap06starter.ipynb
/musical-analysis/thinkdsp/chap07.ipynb
/musical-analysis/thinkdsp/chap07soln.ipynb
/musical-analysis/thinkdsp/chap08.ipynb
/musical-analysis/thinkdsp/chap08soln.ipynb
/musical-analysis/thinkdsp/chap09.ipynb
/musical-analysis/thinkdsp/chap09soln.ipynb
/musical-analysis/thinkdsp/chap10.ipynb
/musical-analysis/thinkdsp/chap10preview.ipynb
/musical-analysis/thinkdsp/chap10soln.ipynb
/musical-analysis/thinkdsp/chap11.ipynb
/musical-analysis/thinkdsp/chap11soln.ipynb
/musical-analysis/thinkdsp/chap01.ipynb
